.displayed_tickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.analysis-whole {
    display: flex;
    flex-direction: column;
    height: 100vh;
}