.homepage-mainPage {
    /* background: linear-gradient(135deg, #0b0530, #070e3a); */
    background-color: #2E3A47;
    color: #ffffff;
    display: flexbox;
    flex-direction: column;
    height: 100%;

}

.homepage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.homepage-title {
    font-size: 2rem;
    color: #0080b3;
}

.homepage-nav {
    display: flex;
    gap: 20px;
}

.homepage-navButton {
    background-color: #0080b3;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homepage-navButton:hover {
    background-color: #005f8a;
}

.homepage-content {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}

.homepage-welcomeText {
    font-size: 2rem;
    color: #ffffff;
}

.top3-list {

}

.bottom3-list {

}

.homepage-favourties {

}