:root {
    --mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 95% / 100% 100% repeat-x;
}

.homepage-mainPage {
    /* background: linear-gradient(135deg, #0b0530, #070e3a); */
    background-color: #2E3A47;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.homepage-header {
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.homepage-title {
    font-size: 2rem;
    color: #0080b3;
}

.homepage-nav {
    display: flex;
    gap: 20px;
}

.homepage-navButton {
    background-color: #0080b3;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homepage-navButton:hover {
    background-color: #005f8a;
}

.homepage-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    /* Prevents the playground content from scrolling */
    height: 100%;
    /* max-height: 90vh; */
}

.homepage-welcomeText {
    font-size: 2rem;
    color: #ffffff;
}


.homepage-columns {
    height: 90vh;
    mask: var(--mask);
}

.top3-list, .bottom3-list, .homepage-favourties {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 10rem;
}