.playground {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: #2E3A47; */
}

.generic-header {
    flex-shrink: 0;
}

.playground-content {
    flex-grow: 0;
    overflow: hidden; /* Prevents the playground content from scrolling */
}